In [ ]:
Introduction to list datatype:

In [ ]:
Defination:  A list is a collection of items in a particular order.

In [ ]:
Classification:  It is classifed as a mutable datatype.

In [ ]:
How to declare the list datatype......[...]

In [2]:
students=['nusrat','deepika','nikhil','rahul','naveen','joseph','imran']
print(students)

['nusrat', 'deepika', 'nikhil', 'rahul', 'naveen', 'joseph', 'imran']

In [ ]:
Introduction to indexing:  0,1,2,3,4,5...

In [ ]:
Requirement:  Want to get the name of deepika in output.

In [4]:
print(students[1])

deepika

In [ ]:
Requirement:  Want to get the name of rahul in teh output

In [5]:
print(students[3])

rahul

In [ ]:
1.  How to add new elements to the list

In [ ]:
2.  How to modify the elements in the list

In [ ]:
3.  How to delete the elements in the list.

In [ ]:
Requirement:  Want to add yamini to the list.

In [6]:
students.append('yamini')
print(students)

['nusrat', 'deepika', 'nikhil', 'rahul', 'naveen', 'joseph', 'imran', 'yamini']

In [ ]:
Requirement:  Want to add harish to the above list.

In [7]:
students.append('harish')
print(students)

['nusrat', 'deepika', 'nikhil', 'rahul', 'naveen', 'joseph', 'imran', 'yamini', 'harish']

In [ ]:
Requirement:  Want to add jafar to the 2nd index.

In [8]:
students.insert(2,'jafar')
print(students)

['nusrat', 'deepika', 'jafar', 'nikhil', 'rahul', 'naveen', 'joseph', 'imran', 'yamini', 'harish']

In [ ]:
Requirement:  Want to naveen name to satish

In [9]:
students[5]='satish'
print(students)

['nusrat', 'deepika', 'jafar', 'nikhil', 'rahul', 'satish', 'joseph', 'imran', 'yamini', 'harish']