In [ ]:
Continuation of list datatypes:

In [ ]:
Organising the list datatypes:

In [1]:
cars=['suzuki','audi','kia','toyota','volvo','benz','ferrari','bmw']

In [2]:
print(cars)

['suzuki', 'audi', 'kia', 'toyota', 'volvo', 'benz', 'ferrari', 'bmw']

In [ ]:
Requirement:  Want to arrange the list in alphabetical order:

In [ ]:
There are two approaches to arrange data in alphabetical order:

In [ ]:
1.  Temporary approach:  sorted-----change is implemented temporarily----original order can be reversed back.

In [ ]:
2.  Permanent approach:  sort-------change is implemented permanently

In [3]:
print(sorted(cars)) # Temporary approach

['audi', 'benz', 'bmw', 'ferrari', 'kia', 'suzuki', 'toyota', 'volvo']

In [4]:
print(cars)  #  Original order restored.

['suzuki', 'audi', 'kia', 'toyota', 'volvo', 'benz', 'ferrari', 'bmw']

In [7]:
cars.sort() #Permanent approach ---order cannot be reversed---

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'ferrari', 'kia', 'suzuki', 'toyota', 'volvo']

In [ ]:
What is the difference between sorted and sort method in a list **** Interview question

In [ ]:
How to revert the elements in the list.

In [ ]:
syntax ----cars.reverse()

In [9]:
cars.reverse()

In [10]:
print(cars)

['volvo', 'toyota', 'suzuki', 'kia', 'ferrari', 'bmw', 'benz', 'audi']

In [ ]:
Requirement:  Want to count the number of students in the list:

In [ ]:
syntax:  len(list)

In [11]:
len(cars)

8

In [ ]:
Introduction to slicing of lists:

In [ ]:
General syntax of slicing: [startvalue:stopvalue:stopcount]

In [ ]:
Note:  Stopvalue is always exclusive:  To include the stopvalue, we have to increment the number by 1.

In [19]:
students=['vamsi','deepak','naveed','john','yamini','reena']

In [20]:
print(students)

['vamsi', 'deepak', 'naveed', 'john', 'yamini', 'reena']

In [ ]:
Requirement:  Want to include vamsi and deepak in one group --- slicing

In [21]:
print(students[0:1])  # This will only display the first object

['vamsi']

In [22]:
print(students[0:2])  #  This displays both the names of vamsi and deepak ---stopvalue +1 = 0+(1+1)=0+2

['vamsi', 'deepak']

In [ ]:
#  Slice naveed and john in one group

In [23]:
print(students[2:4])  #  This displays both the names of naveed and john ---stopvalue +1 = 2+(3+1)=2+4

['naveed', 'john']

In [ ]:
#  Slice yamini and reena in one group

In [24]:
print(students[4:6])  #  This displays both the names of yamini and reena ---stopvalue +1 = 4+(5+1)=4+6

['yamini', 'reena']